#ðŸ“Š Supermarket Sales Data Manipulation Project

##ðŸ“Œ Background
Dataset ini berisi data transaksi penjualan dari sebuah supermarket yang mencakup informasi cabang, kota, jenis pelanggan, kategori produk, metode pembayaran, serta detail transaksi seperti quantity, unit price, dan total penjualan.
Untuk memahami performa bisnis dan pola penjualan, diperlukan proses manipulasi data seperti penggabungan tabel, agregasi, dan transformasi data.

In [ ]:
import pandas as pd
import numpy as np
pd.set_option("display.max_columns",None)
pd.set_option("display.max_rows",None)

In [ ]:
df = pd.read_csv("/content/supermarket_sales.csv")

In [ ]:
df.head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Invoice ID               1000 non-null   object
 1   Branch                   1000 non-null   object
 2   City                     1000 non-null   object
 3   Customer type            1000 non-null   object
 4   Gender                   1000 non-null   object
 5   Product line             1000 non-null   object
 6   Unit price               1000 non-null   float64
 7   Quantity                 1000 non-null   int64
 8   Tax 5%                   1000 non-null   float64
 9   Total                    1000 non-null   float64
 10  Date                     1000 non-null   object
 11  Time                     1000 non-null   object
 12  Payment                  1000 non-null   object
 13  cogs                     1000 non-null   float64
 14  gross margin percentage  1000 non-null   float64
 15  gross income             1000 non-null   float64
 16  Rating                   1000 non-null   float64
dtypes: float64(7), int64(1), object(9)
memory usage: 132.9+ KB

In [ ]:
df.describe()

,Unit price,Quantity,Tax 5%,Total,cogs,gross margin percentage,gross income,Rating
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.00000,1.000000e+03,1000.000000,1000.00000
mean,55.672130,5.510000,15.379369,322.966749,307.58738,4.761905e+00,15.379369,6.97270
std,26.494628,2.923431,11.708825,245.885335,234.17651,6.131498e-14,11.708825,1.71858
min,10.080000,1.000000,0.508500,10.678500,10.17000,4.761905e+00,0.508500,4.00000
25%,32.875000,3.000000,5.924875,124.422375,118.49750,4.761905e+00,5.924875,5.50000
50%,55.230000,5.000000,12.088000,253.848000,241.76000,4.761905e+00,12.088000,7.00000
75%,77.935000,8.000000,22.445250,471.350250,448.90500,4.761905e+00,22.445250,8.50000
max,99.960000,10.000000,49.650000,1042.650000,993.00000,4.761905e+00,49.650000,10.00000

### Pertanyaan Analisa
Bagaimana karakteristik transaksi pelanggan member di cabang B untuk produk Sports and Travel?

In [ ]:
cabang_b_member_sports = df[((df['Branch'] == 'B')& (df['Customer type']=='Member'))&(df['Product line']=='Sports and travel')]

In [ ]:
cabang_b_member_sports

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
15,299-46-1805,B,Mandalay,Member,Female,Sports and travel,93.72,6,28.1160,590.4360,1/15/2019,16:19,Cash,562.32,4.761905,28.1160,4.5
31,149-71-6266,B,Mandalay,Member,Male,Sports and travel,78.07,9,35.1315,737.7615,1/28/2019,12:43,Cash,702.63,4.761905,35.1315,4.5
42,354-25-5821,B,Mandalay,Member,Female,Sports and travel,69.12,6,20.7360,435.4560,2/8/2019,13:03,Cash,414.72,4.761905,20.7360,5.6
62,347-34-2234,B,Mandalay,Member,Female,Sports and travel,55.07,9,24.7815,520.4115,2/3/2019,13:40,Ewallet,495.63,4.761905,24.7815,10.0
110,479-26-8945,B,Mandalay,Member,Female,Sports and travel,16.49,2,1.6490,34.6290,2/5/2019,11:32,Ewallet,32.98,4.761905,1.6490,4.6
122,219-22-9386,B,Mandalay,Member,Male,Sports and travel,99.96,9,44.9820,944.6220,3/9/2019,17:26,Credit card,899.64,4.761905,44.9820,4.2
214,891-58-8335,B,Mandalay,Member,Female,Sports and travel,29.61,7,10.3635,217.6335,3/11/2019,15:53,Cash,207.27,4.761905,10.3635,6.5
310,532-59-7201,B,Mandalay,Member,Male,Sports and travel,79.93,6,23.9790,503.5590,1/31/2019,14:04,Cash,479.58,4.761905,23.9790,5.5
385,525-88-7307,B,Mandalay,Member,Male,Sports and travel,75.82,1,3.7910,79.6110,1/31/2019,13:19,Cash,75.82,4.761905,3.7910,5.8
441,394-30-3170,B,Mandalay,Member,Female,Sports and travel,88.43,8,35.3720,742.8120,3/22/2019,19:35,Credit card,707.44,4.761905,35.3720,4.3
449,449-27-2918,B,Mandalay,Member,Female,Sports and travel,39.12,1,1.9560,41.0760,3/26/2019,11:02,Credit card,39.12,4.761905,1.9560,9.6
485,438-01-4015,B,Mandalay,Member,Female,Sports and travel,49.49,4,9.8980,207.8580,3/21/2019,15:25,Ewallet,197.96,4.761905,9.8980,6.6
498,401-18-8016,B,Mandalay,Member,Female,Sports and travel,98.13,1,4.9065,103.0365,1/21/2019,17:36,Cash,98.13,4.761905,4.9065,8.9
500,277-63-2961,B,Mandalay,Member,Male,Sports and travel,73.97,1,3.6985,77.6685,2/3/2019,15:53,Credit card,73.97,4.761905,3.6985,5.4
506,387-49-4215,B,Mandalay,Member,Female,Sports and travel,48.50,3,7.2750,152.7750,1/8/2019,12:50,Cash,145.50,4.761905,7.2750,6.7
510,347-72-6115,B,Mandalay,Member,Female,Sports and travel,90.74,7,31.7590,666.9390,1/16/2019,18:03,Credit card,635.18,4.761905,31.7590,6.2
542,173-50-1108,B,Mandalay,Member,Female,Sports and travel,20.18,4,4.0360,84.7560,2/13/2019,12:14,Credit card,80.72,4.761905,4.0360,5.0
571,343-61-3544,B,Mandalay,Member,Male,Sports and travel,26.67,10,13.3350,280.0350,1/29/2019,11:48,Cash,266.70,4.761905,13.3350,8.6
594,585-11-6748,B,Mandalay,Member,Male,Sports and travel,96.80,3,14.5200,304.9200,3/15/2019,13:05,Cash,290.40,4.761905,14.5200,5.3
616,327-40-9673,B,Mandalay,Member,Male,Sports and travel,72.60,6,21.7800,457.3800,1/13/2019,19:51,Cash,435.60,4.761905,21.7800,6.9
653,149-15-7606,B,Mandalay,Member,Male,Sports and travel,37.32,9,16.7940,352.6740,3/6/2019,15:31,Ewallet,335.88,4.761905,16.7940,5.1
676,752-23-3760,B,Mandalay,Member,Female,Sports and travel,64.08,7,22.4280,470.9880,2/19/2019,19:29,Credit card,448.56,4.761905,22.4280,7.3
684,510-79-0415,B,Mandalay,Member,Female,Sports and travel,23.08,6,6.9240,145.4040,1/24/2019,19:20,Ewallet,138.48,4.761905,6.9240,4.9
686,767-97-4650,B,Mandalay,Member,Female,Sports and travel,64.83,2,6.4830,136.1430,1/8/2019,11:59,Credit card,129.66,4.761905,6.4830,8.0
770,707-32-7409,B,Mandalay,Member,Female,Sports and travel,95.54,4,19.1080,401.2680,2/26/2019,11:58,Ewallet,382.16,4.761905,19.1080,4.5
824,109-86-4363,B,Mandalay,Member,Female,Sports and travel,60.08,7,21.0280,441.5880,2/14/2019,11:36,Credit card,420.56,4.761905,21.0280,4.5
832,343-75-9322,B,Mandalay,Member,Female,Sports and travel,11.85,8,4.7400,99.5400,1/9/2019,16:34,Cash,94.80,4.761905,4.7400,4.1
866,361-59-0574,B,Mandalay,Member,Male,Sports and travel,90.53,8,36.2120,760.4520,3/15/2019,14:48,Credit card,724.24,4.761905,36.2120,6.5
882,311-13-6971,B,Mandalay,Member,Male,Sports and travel,31.99,10,15.9950,335.8950,2/20/2019,15:18,Credit card,319.90,4.761905,15.9950,9.9
926,321-49-7382,B,Mandalay,Member,Male,Sports and travel,88.31,1,4.4155,92.7255,2/15/2019,17:38,Credit card,88.31,4.761905,4.4155,5.2

### ðŸ’¡Insight
Berdasarkan hasil filtering data, transaksi produk Sports and travel di cabang B yang dilakukan oleh pelanggan member cukup aktif. Hal ini menunjukkan bahwa produk tersebut memiliki peminat yang baik dicustomer member

### Pertanyaan Analisa
Bagaimana distribusi total penjualan per bulan dan bulan mana yang memiliki total penjualan?

In [ ]:
df['Date'] = pd.to_datetime(df['Date'])
df['Month'] = df['Date'].dt.month_name()

In [ ]:
penjualan_bulanan = df.groupby('Month')['Total'].sum().reset_index()
penjualan_bulanan_sorted = penjualan_bulanan.sort_values(by='Total', ascending=False)

In [ ]:
penjualan_bulanan_sorted

      Month       Total
1   January  116291.868
2     March  109455.507
0  February   97219.374

### ðŸ’¡Insight
Berdasarkan hasil sorting, transaksi dengan nilai total tertinggi berasal dari bulan Januari, dan diikuti pada bulan Maret, setelahnya pada bulan Februari.

### Pertanyaan Analisa
Bagaimana total penjualan dimasing-masing cabang?

In [ ]:
penjualan_cabang = df.groupby('Branch').agg({'Total': 'sum',
    'Quantity': 'sum',
    'gross income': 'sum'}).reset_index()

penjualan_cabang

  Branch        Total  Quantity  gross income
0      A  106200.3705      1859     5057.1605
1      B  106197.6720      1820     5057.0320
2      C  110568.7065      1831     5265.1765

### ðŸ’¡Insight
Berdasarkan hasil agregasi, terlihat bahwa cabang C memiliki total penjualan, jumlah barang terjual, dan gross income tertinggi dibandingkan cabang A dan B. Hal ini menunjukkan bahwa performa penjualan cabang C lebih unggul secara keseluruhan.

### Pertanyaan Analisa
Bagaimana perbandingan total penjualan berdasarkan cabang dan gender?

In [ ]:
tabel_pivot = pd.pivot_table(df, values = 'Total',index = 'Branch',columns='Gender',aggfunc='sum')
tabel_pivot

Gender     Female        Male
Branch
A       53269.167  52931.2035
B       52928.295  53269.3770
C       61685.463  48883.2435

### ðŸ’¡Insight
Dari tabel pivot terlihat bahwa di cabang A, total penjualan antara pelanggan perempuan dan laki-laki relatif seimbang. Di cabang B, total penjualan dari pelanggan laki-laki sedikit lebih tinggi dibandingkan perempuan. Sementara itu, di cabang C pelanggan perempuan memberikan kontribusi penjualan yang lebih besar dibandingkan customer laki-laki

### Pertanyaan Analisa
Bagaimana distribusi customer type pada setiap cabang?

In [ ]:
crosstab = pd.crosstab(df['Customer type'],df['Branch'])
crosstab

Branch           A    B    C
Customer type
Member         167  165  169
Normal         173  167  159

### ðŸ’¡Insight
Pada tabel crosstab terlihat bahwa pada cabang A & cabang B customer normal lebih dominan daripada customer Member. Dan pada cabang C customer Member lebih dominan daripada customer biasa.

### Pertanyaan Analisa
Pada hari apa transaksi penjualan paling banyak terjadi?

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 18 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Invoice ID               1000 non-null   object
 1   Branch                   1000 non-null   object
 2   City                     1000 non-null   object
 3   Customer type            1000 non-null   object
 4   Gender                   1000 non-null   object
 5   Product line             1000 non-null   object
 6   Unit price               1000 non-null   float64
 7   Quantity                 1000 non-null   int64
 8   Tax 5%                   1000 non-null   float64
 9   Total                    1000 non-null   float64
 10  Date                     1000 non-null   datetime64[ns]
 11  Time                     1000 non-null   object
 12  Payment                  1000 non-null   object
 13  cogs                     1000 non-null   float64
 14  gross margin percentage  1000 non-null   float64
 15  gross income             1000 non-null   float64
 16  Rating                   1000 non-null   float64
 17  Month                    1000 non-null   object
dtypes: datetime64[ns](1), float64(7), int64(1), object(9)
memory usage: 140.8+ KB

In [ ]:
# mengubah struktur data pada date
df["Date"] = pd.to_datetime(df["Date"],format = "%m/%d/%Y")

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 18 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Invoice ID               1000 non-null   object
 1   Branch                   1000 non-null   object
 2   City                     1000 non-null   object
 3   Customer type            1000 non-null   object
 4   Gender                   1000 non-null   object
 5   Product line             1000 non-null   object
 6   Unit price               1000 non-null   float64
 7   Quantity                 1000 non-null   int64
 8   Tax 5%                   1000 non-null   float64
 9   Total                    1000 non-null   float64
 10  Date                     1000 non-null   datetime64[ns]
 11  Time                     1000 non-null   object
 12  Payment                  1000 non-null   object
 13  cogs                     1000 non-null   float64
 14  gross margin percentage  1000 non-null   float64
 15  gross income             1000 non-null   float64
 16  Rating                   1000 non-null   float64
 17  Month                    1000 non-null   object
dtypes: datetime64[ns](1), float64(7), int64(1), object(9)
memory usage: 140.8+ KB

In [ ]:
# mengambil nama hari dari tanggal transaksi
df['Day'] = df['Date'].dt.day_name()

In [ ]:
# hitung jumlah transaksi per hari
transaksi_per_hari = df['Day'].value_counts()
transaksi_per_hari

Day
Saturday     164
Tuesday      158
Wednesday    143
Friday       139
Thursday     138
Sunday       133
Monday       125
Name: count, dtype: int64

### ðŸ’¡Insight
Dari hasil eksplorasi berdasarkan hari, terlihat bahwa jumlah transaksi paling banyak terjadi pada hari Sabtu dibandingkan hari lainnya. Hal ini menunjukkan adanya pola waktu dalam aktivitas transaksi penjualan.